
<div class='navbar-wagon'>
  <h1>Bier</h1>
  <div class = 'btn btn-primary'>
    <p><%= link_to "Add a drink", new_cocktail_path%></p>
  </div>
</div>


<div class="banner">
<%= image_tag "cocktail.jpg", class: "banner"%>
<div class = "gradient-background">
</div>
  <div class="banner-content">
    <h1>Mister Cocktail</h1>
    <p> Make some killer cocktails</p>
  </div>
</div>


<div class='container'>
  <% @cocktails.reverse_each do |c| %>
    <div class='drink'>
      <div class='card'>
        <p> <%=c.name%></p>
        <%= cl_image_tag c.photo, height: 300, width: 400, crop: :fill %>
        <p> <%= link_to "View", cocktail_path(c) %> </p>
      </div>
    </div>
      <% end %>
</div>




