<h1>Add a new cocktail</h1>
<%= form_for @cocktail do |c|%>
  <%= c.label :name, "Enter the cocktail name" %>
  <%= c.text_field :name %>
  <%= c.submit %>
  <% end %>

<p> <%= link_to "Home",cocktails_path %> </p>

