<h2> <%=@cocktail.name%></h2>


<% @cocktail.doses.each do |d| %>
  <div>
    <p><%= d.ingredient.name %> | <%= d.description%> </p>

  </div>
<% end %>

<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

<p><%= link_to "Add doses to the cocktail", new_cocktail_dose_path(@cocktail)%></p>
<p><%= link_to "Home",cocktails_path %> </p>

